POSTGRES_DB=kliknilistek
POSTGRES_USER=kliknilistek
POSTGRES_PASSWORD=zmen-me-na-silne-heslo
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0

DJANGO_SECRET_KEY=zmen-me-na-opravdu-dlouhy-a-tajny-klic
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=kliknijdlo.online,www.kliknijdlo.online,frontend,backend,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://kliknijdlo.online,https://www.kliknijdlo.online
DJANGO_SECURE_SSL_REDIRECT=1
DJANGO_SESSION_COOKIE_SECURE=1
DJANGO_CSRF_COOKIE_SECURE=1
DJANGO_DEFAULT_FROM_EMAIL=KlikniJidlo <noreply@kliknijdlo.online>

NEXT_PUBLIC_APP_URL=https://kliknijdlo.online
NEXT_PUBLIC_API_URL=http://backend:8000/api

CLOUDFLARED_TOKEN=sem-vloz-tvuj-token
